.navbar-brand {
  padding: 0 15px !important;

  .logo-icon {
    display: none;

    .mini-sidebar & {
      display: block;
      img {
        height: 32px;
      }
    }
  }

}

.expand-logo {
  .logo-icon {
    display: none !important;
  }
}