.main-footer p {
    margin: 0;
}

.main-footer ul {
    margin: 0;
    padding: 0;
}

.main-footer ul li {
    list-style: none;
    margin-left: 5px;
    font-size: 0;
    display: inline-block;
}

.main-footer ul li a {
    font-size: 14px;
}